html, body {
	width: 100%;
	height: 100%;
	background-color: black;
}

div .navPane {
	width: 250px;
	border-right: 1px solid black;
}

.itemcell {
	width: 100%;
	display:inline-block;
}

.itemcellwrapper {
	margin-top: 9px;
	margin-right: 12px;
	margin-bottom: 7px;
	margin-left: 10px;
	padding-right: 8px;
}

.buttoncellwrapper {
	margin-top: 9px;
	margin-bottom: 7px;
	margin-left: 10px;
	margin-right: 10px;
}

.dateLabel {
	font-size: .6em; 
	color: #324f85; 
	margin-left: 3em;
}

.dateLabelInvalid { 
	color: red;
}

.lineItemPreventTouch {
	width:2.5em;
	height:3em; 
	position:absolute; 
	margin-left: -8px;
	margin-top: -11px;
}
