<div class="view mblView">
	<div data-dojo-type="dojox.app.widgets.Container" region="center" scrollable="true">
		<div data-dojo-type="dojox.mobile.Heading" data-dojo-props='label:"New Item", back:"Cancel"'>
			<span id="edit_list_done" data-dojo-type="dojox.mobile.ToolBarButton" data-dojo-props='label:"Done"' defaultColor="mblColorBlue" style="float:right;"></span>
		</div>
		<div  class="itemcellwrapper">
			<input id="item_title" data-dojo-type="dojox.mobile.TextBox"  class="itemcell"
				placeholder="Title"/>
		</div>
		<div  class="itemcellwrapper">
			<textarea id="item_notes" data-dojo-type="dojox.mobile.ExpandingTextArea"  class="itemcell"
				placeholder="Notes"/>
		</div>
</div>