<div class="view mblView">
	<h2 data-dojo-type="dojox.mobile.RoundRectCategory" region="top">17, Thursday, November 2011</h2>
	<div data-dojo-type="dojox.app.widgets.container" region="center" scrollable="true">
		<ul data-dojo-type="dojox.mobile.RoundRectList">
			<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'1',target:'details',url:'#details'}">
				Dry clean my suits
			</li>
			<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'2',target:'details',url:'#details'}">
				Enroll for IBM benefits enrollment
			</li>
			<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'3',target:'details',url:'#details'}">
				Check the squirrel trap
			</li>
			<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'4',target:'details',url:'#details'}">
				Review dojo zip files
			</li>
			<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'5',target:'details',url:'#details'}">
				item 5
			</li>
			<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'6',target:'details',url:'#details'}">
				item 6
			</li>
			<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'7',target:'details',url:'#details'}">
				item 7
			</li>
			<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'8',target:'details',url:'#details'}">
				item 8
			</li>
			<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'9',target:'details',url:'#details'}">
				item 9
			</li>
			<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'10',target:'details',url:'#details'}">
				item 10
			</li>
		</ul>
	</div>
</div>
