<div class="view mblView">
	<h1 data-dojo-type="dojox.mobile.Heading" label="Configure" region="top">
		<div data-dojo-type="dojox.mobile.ToolBarButton" label="Done" style="float:left;" transitionOptions='{title:"List",target:"items,list",url: "#items,list"}'>
		</div>
		<div data-dojo-type="dojox.mobile.ToolBarButton" label="Edit" style="float:right;" transitionOptions='{title:"Configuration Edit",target:"configuration,edit",url: "#configuration,edit"}'>
		</div>
	</h1>
	<h2 data-dojo-type="dojox.mobile.RoundRectCategory" region="top">Search Reminders</h2>
	<div data-dojo-type="dojox.app.widgets.Container" region="center" scrollable="true">
		<ul data-dojo-type="dojox.mobile.RoundRectList">
			<li class="mblVariableHeight" data-dojo-type="dojox.mobile.ListItem" data-dojo-props='label: "Completed", clickable: true, noArrow: true, onClick: function(e){todoApp.selected_configuration_item = -1;}'
				transitionOptions='{title:"List",target:"items,list",url: "#items,list"}'>
			</li>
		</ul>
		
		<ul data-dojo-type="dojox.mobile.RoundRectList" id="configure_list" select="single" 
				 data-dojo-mixins="dojox/mvc/Repeat" data-dojo-props="exprchar: '#', children: at(this.loadedModels.listsmodel, 'model')">
			<li id="configure_itemmix1#{this.index}" class="mblVariableHeight" data-dojo-type="dojox.mobile.ListItem" 
				data-dojo-props="label: at('rel:#{this.index}', 'title'), checked: at('rel:#{this.index}',  'Checked')">
			</li>
		</ul>
	</div>
</div>
