<div class="view mblView">
	<h1 data-dojo-type="dojox.mobile.Heading" label="Edit Detail" region="top" back="Cancel">
		<div id="editItem_done" data-dojo-type="dojox.mobile.ToolBarButton" label="Done" style="float:right;" transitionOptions='{title:"Configuration Edit",target:"configuration,configure_edit",url: "#configuration,configure_edit"}'>
		</div>
	</h1>
	<div data-dojo-type="dojox.app.container" region="center" scrollable="true">
		<div data-dojo-type="dojox.mvc.Group" ref="'listsmodel'" style="padding-left:14px;">
			<div class="fieldset" id="configuration_detailsGroup" data-dojo-type="dojox.mvc.Group" ref="'rel:0'">
				<div id="detailsBanner">
					Details for selected index:
				</div>
				<table>
					<tr>
						<td>id</td>
						<td>
							<input type=text id="idInput" data-dojo-type="dojox.mobile.TextBox" placeholder="0000" ref="'rel:id'">
							</input>
						</td>
					</tr>
					<tr>
						<td>title</td>
						<td>
							<input type=text id="titleInput" data-dojo-type="dojox.mobile.TextBox" placeholder="title" ref="'rel:title'">
							</input>
						</td>
					</tr>
					<tr>
						<td>url</td>
						<td>
							<input type=text id="urlInput" data-dojo-type="dojox.mobile.TextBox" placeholder="url" ref="'rel:itemsurl'">
							</input>
						</td>
					</tr>
					<tr>
						<td>descritpion</td>
						<td>
							<input type=text id="desInput" data-dojo-type="dojox.mobile.TextArea" placeholder="description">
							</input>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
