<div>
	<!-- left -->
	<div dojoType="dojox.app.widgets.Container" class="navPane" region="left">
		<h1 region="top" dojoType="dojox.mobile.Heading">Todo App</h1>
		<div data-dojo-type="dojox.app.widgets.Container" region="center" scrollable="true">
			<h2 dojoType="dojox.mobile.EdgeToEdgeCategory" style="height: 32px;">Configure
			<img style="position: absolute; display: block; width: 32px; height: 32px; right: 0; top: 0" onClick="todoApp.editConfiguration();"
				src="images/settings.png" />
			</h2>

<!-- TODO: add dojox.mvc.Repeat here will crash the application 
			<ul id="lists_list" data-dojo-type="dojox.mobile.RoundRectList" 
				data-dojo-mixins="dojox/mvc/Repeat" data-dojo-props="exprchar: '#', children: at(this.loadedModels.listsmodel, 'model')">
			 	<li data-dojo-type="dojox.mobile.ListItem" clickable="true" 
					data-dojo-props="label: at('rel:#{this.index}', 'title'), onClick: function(e){/*todoApp.selectItems(this, '#{this.index}');*/}">
				</li>
			
			</ul>
-->
				<ul data-dojo-type="dojox.mobile.RoundRectList"   
				 data-dojo-mixins="dojox/mvc/Repeat" data-dojo-props="exprchar: '#', children: this.loadedModels.listsmodel.model">
							<li  class="mblVariableHeight" 
								data-dojo-type="dojox.mobile.ListItem" clickable="true" 
								data-dojo-props="label:at('rel:#{this.index}','title')">  
							</li>
				</ul>
			<ul data-dojo-type="dojox.mobile.RoundRectList">
				<li class="mblVariableHeight" data-dojo-type="dojox.mobile.ListItem" data-dojo-props='label: "Completed", clickable: true, onClick: function(e){todoApp.selectItems(this, -1);}'
					transitionOptions='{title:"List",target:"items,list",url: "#items,list"}'>
				</li>
			</ul>

		</div>
	</div>
</div>
