<div class="view mblView">
	<h1 data-dojo-type="dojox.mobile.Heading" region="top" label="Details" back="Back">
		<div data-dojo-type="dojox.mobile.ToolBarButton" transitionOptions='{title:"Items",target:"items,list",url: "#items,list"}' label="Done" style="float:right;">
		</div>
	</h1>
	<div data-dojo-type="dojox.app.widgets.Container" id="details" scrollable="true">
		<div class="fieldset" id="item_detailsGroup" data-dojo-type="dojox.mvc.Group" data-dojo-props="target: dojox.mvc.at(this.loadedModels.itemlistmodel, '0')">
			<ul data-dojo-type="dojox.mobile.RoundRectList">
				<span data-dojo-type="dojox.mvc.Output" data-dojo-props="value: dojox.mvc.at(this.loadedModels.repeatmodels, 'cursorIndex')"></span>
			</ul>
		<ul data-dojo-type="dojox.mobile.RoundRectList">
			<li id="detail_reminder" data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions='{title:"Remind",target:"details,remind",url: "#details,remind"}'>
				Remind Me
			</li>
			<li id="detail_repeat" data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions='{title:"Repeat",target:"details,repeat",url: "#details,repeat"}'>
				Repeat
			</li>
		</ul>
		<ul data-dojo-type="dojox.mobile.RoundRectList" >
				<li id="detail_showMore" data-dojo-type="dojox.mobile.ListItem" clickable="true">
				Show More...
			</li>
			<div id="moreDetail" style="display:none;">
				<li id="detail_priority" data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions='{title:"Priority",target:"details,priority",url: "#details,priority"}'>
					Priority
				</li>
				<li id="detail_list" data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions='{title:"List",target:"details,list",url: "#details,list"}'>
					List
				</li>
				<li id="detail_note" data-dojo-type="dojox.mobile.ListItem">
					Notes
				</li>
			</div>
			</ul>
		</div>

		<button id="markAsComplete" data-dojo-type="dojox.mobile.Button" class="baseBtn whiteBtn">Complete</button>
		<button id="deleteCurrentItem" data-dojo-type="dojox.mobile.Button" class="baseBtn whiteBtn">Delete</button>
	</div>
</div>
