<div style="background:#c5ccd3;" class="view mblView">
	<h1 data-dojo-type="dojox.mobile.Heading" label="Priority" back="Cancel">
		<div data-dojo-type="dojox.mobile.ToolBarButton" transitionOptions='{title:"Details",target:"details,detail",url: "#details,detail"}' label="Done" style="float:right;">
		</div>
	</h1>
	<ul id="list_priority" data-dojo-type="dojox.mobile.RoundRectList" select="single">
		<li data-dojo-type="dojox.mobile.ListItem" checked="true">
			None
		</li>
		<li data-dojo-type="dojox.mobile.ListItem">
			Low
		</li>
		<li data-dojo-type="dojox.mobile.ListItem">
			Medium
		</li>
		<li data-dojo-type="dojox.mobile.ListItem">
			High
		</li>
	</ul>
</div>
