<div class="view mblView">
	<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props="label: 'Repeat', back: 'Back'"></h1>
	<ul id="list_repeat" data-dojo-type="dojox/mobile/RoundRectList" data-dojo-props="select: 'single'">
		<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="checked: 'true'">
			None
		</li>
		<li data-dojo-type="dojox/mobile/ListItem">
			Every Day
		</li>
		<li data-dojo-type="dojox/mobile/ListItem">
			Every Week
		</li>
		<li data-dojo-type="dojox/mobile/ListItem">
			Every 2 Week
		</li>
		<li data-dojo-type="dojox/mobile/ListItem">
			Every Month
		</li>
		<li data-dojo-type="dojox/mobile/ListItem">
			Every Year
		</li>
	</ul>
</div>
