<div style="background:#c5ccd3;" class="view mblView">
	<script type="dojo/require">at: "dojox/mvc/at"</script>
	<h1 data-dojo-type="dojox.mobile.Heading" label="Remind Me" back="Back"></h1>
	<ul data-dojo-type="dojox.mobile.RoundRectList">
		<li data-dojo-type="dojox.mobile.ListItem">
			On a Day
			<div id="remind_day_switch" class="mblItemSwitch" value="off" data-dojo-type="dojox.mobile.Switch">
			</div>
		</li>
		<li data-dojo-type="dojox.mobile.ListItem" id="remind_date"></li>
	</ul>
	<ul data-dojo-type="dojox.mobile.RoundRectList">
		<li data-dojo-type="dojox.mobile.ListItem">
			At a Location
			<div class="mblItemSwitch" id="remind_location_switch" value="off" data-dojo-type="dojox.mobile.Switch">
			</div>
		</li>
	</ul>
	<div id="datePicker" data-dojo-type="dojox.mobile.Opener">
 		<h1 data-dojo-type="dojox.mobile.Heading" label="Date Picker">
			<span data-dojo-type="dojox.mobile.ToolBarButton" id="reminddlgSet" label="Done" class="mblColorBlue" style="position:absolute;width:45px;right:0;"></span>
			<span data-dojo-type="dojox.mobile.ToolBarButton" id="reminddlgCancel" label="Cancel" class="mblColorBlue" style="position:absolute;width:45px;left:0;"></span>
		</h1>
		<div id="reminddlgpicker1" data-dojo-type="dojox.mobile.SpinWheelDatePicker"></div>
	</div>
</div>
