<div style="background:#c5ccd3;" class="view mblView">
	<script type="dojo/require">at: "dojox/mvc/at"</script>
	<h1 data-dojo-type="dojox.mobile.Heading" label="Remind Me" back="Back"></h1>
	<ul data-dojo-type="dojox.mobile.RoundRectList">
		<li data-dojo-type="dojox.mobile.ListItem">
			On a Day
			<div id="remind_day_switch" class="mblItemSwitch" value="off" data-dojo-type="dojox.mobile.Switch">
			</div>
		</li>
		<li data-dojo-type="dojox.mobile.ListItem" id="remind_date"></li>
	</ul>
	<ul data-dojo-type="dojox.mobile.RoundRectList">
		<li data-dojo-type="dojox.mobile.ListItem">
			At a Location
			<div class="mblItemSwitch" id="remind_location_switch" value="off" data-dojo-type="dojox.mobile.Switch">
			</div>
		</li>
	</ul>
	<div id="reminddlg1" data-dojo-type="dojox.mobile.SimpleDialog">
		<div id="reminddlgpicker1" data-dojo-type="dojox.mobile.ValuePickerDatePicker"></div>
		<div style="background-color:#bdbabd;margin-top:6px;">
			<span id="reminddlgSet" data-dojo-type="dojox.mobile.ToolBarButton" class="dlgBtn">Set</span>
			<span id="reminddlgCancel" data-dojo-type="dojox.mobile.ToolBarButton" class="dlgBtn">Cancel</span>
		</div>
	</div>
	
</div>
