<div style="background:#c5ccd3;" class="view">
	<div data-role="page">
		<div data-role="header">
			<a data-icon="back" onclick="history.back()">Back</a>
			<h1>Repeat</h1>
		</div>
		<fieldset id="list_repeat" data-role="controlgroup">
        	<input type="radio" name="group" id="radio-choice-1" value="1" checked="checked" />
         	<label for="radio-choice-1">None</label>

         	<input type="radio" name="group" id="radio-choice-2" value="2"  />
         	<label for="radio-choice-2">Every Day</label>

         	<input type="radio" name="group" id="radio-choice-3" value="3"  />
         	<label for="radio-choice-3">Every Week</label>

         	<input type="radio" name="group" id="radio-choice-4" value="4"  />
         	<label for="radio-choice-4">Every 2 Weeks</label>

			<input type="radio" name="group" id="radio-choice-5" value="5"  />
  			<label for="radio-choice-5">Every Month</label>

			<input type="radio" name="group" id="radio-choice-6" value="6"  />
  			<label for="radio-choice-6">Every Year</label>
    	</fieldset>
	</div>
</div>
