<div class="view mblView">
	<h2 dojoType="dojox.mobile.RoundRectCategory" region="top">
		<span>Remiders</span>
		<button id="items_list_edit" data-dojo-type="dojox.mobile.Button" class="mblBlueButton" style="float: right; margin-right: 20px;">
			Edit
		</button>
	</h2>
	<div dojoType="dojox.app.container" scrollable="true">
		<ul dojoType="dojox.mobile.RoundRectList">
			<div id="itemlist_repeat" data-dojo-type="dojox.mvc.Repeat" data-dojo-props="exprchar:'#', ref:'itemlistmodel'">
				<div data-dojo-type="dojox.mvc.Group" data-dojo-props="ref: '#{this.index}'">
					<li id="list_item#{this.index}" dojoType="dojox.mobile.ListItem" clickable="true" data-dojo-props="onClick: function(e){showItemDetails(this, '#{this.index}', e);}">
						#{this.binding[this.index].title}
					</li>
				</div>
			</div>
		</ul>
	</div>
</div>
