<div class="view mblView">
	<h2 dojoType="dojox.mobile.RoundRectCategory" region="top">Reminders</h2>
	<div dojoType="dojox.app.container" scrollable="true">
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'1',target:'details',url:'#details'}">
				CDL team demos
			</li>
			<li dojoType="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'2',target:'details',url:'#details'}">
				Dry clean my suits
			</li>
			<li dojoType="dojox.mobile.ListItem" clickable="true" transitionOptions="{id:'3',target:'details',url:'#details'}">
				court hearing
			</li>
		</ul>
	</div>
</div>
