<div class="view mblView">
	<h2 dojoType="dojox.mobile.RoundRectCategory" region="top">Reminders</h2>
	<div dojoType="dojox.app.container" scrollable="true">
		<ul dojoType="dojox.mobile.RoundRectList">
			<div id="list_repeat" data-dojo-type="dojox.mvc.Repeat" data-dojo-props="exprchar:'#', ref:'listmodel'">
				<div data-dojo-type="dojox.mvc.Group" data-dojo-props="ref: '#{this.index}'">
					<li id="list_item#{this.index}" class="mblVariableHeight" dojoType="dojox.mobile.ListItem" clickable="true"
						data-dojo-props="onClick: function(e){showItemDetails(this, '#{this.index}', e);}">
						#{this.binding[this.index].title}
					</li>
				</div>
			</div>
		</ul>
	</div>
</div>
