<div class="view mblView">
	<div data-dojo-type="dojox.app.widgets.Container" region="center" scrollable="true">
		<div  class="itemcellwrapper">
			<input id="item_title" data-dojo-type="dojox.mobile.TextBox"  class="itemcell"
				placeholder="Title"/>
		</div>
		<div  class="itemcellwrapper">
			<textarea id="item_notes" data-dojo-type="dojox.mobile.ExpandingTextArea"  class="itemcell"
				placeholder="Notes"></textarea>
		</div>
		<button id="addItem_cancel" data-dojo-type="dojox.mobile.Button" class="baseBtn whiteBtn">Cancel</button>
		<button id="addItem_add" data-dojo-type="dojox.mobile.Button" class="baseBtn whiteBtn">Add</button>
	</div>	
</div>