<div class="view mblView">
	<script type="dojo/require">at: "dojox/mvc/at"</script>
	<div data-dojo-type="dojox.app.widgets.Container" region="center" scrollable="true">
		<h2 data-dojo-type="dojox.mobile.RoundRectCategory" region="top">All items by date</h2>
		<ul data-dojo-type="dojox.mobile.RoundRectList" id="itemsDate_list"   
			data-dojo-mixins="dojox/mvc/Repeat" 
			data-dojo-props="exprchar:'#', children: at(this.loadedModels.itemlistmodel, 'model')">
				<li  data-dojo-type="dojox.mobile.ListItem" clickable="true" class=mblVariableHeight
					data-dojo-props="onClick: function(){todoApp.showItemDetails('#{this.index}');}"
					transitionOptions='{title:"Detail",target:"details,detail",url: "#details,detail"}'>  
					<table>
						<tr>
							<td><input preventTouch='true' type='checkbox' 
								data-dojo-type="dojox.mobile.CheckBox" 
								data-dojo-props="checked: at('rel:#{this.index}','completed')"/></td>
							<td data-dojo-type="dojox.mvc.Output" 
								data-dojo-props="value: at('rel:#{this.index}','title')"></td>
						</tr>
						<tr>
							<td></td>
							<td>	
								<div data-dojo-type="dojox.mvc.Output" style="font-size: .6em; color: #324f85;" 
									data-dojo-props="value: at('rel:#{this.index}','reminderDate')"></div>
							</td>					
						</tr>
					</table>
				</li>
		</ul>	
	</div>
</div>
