<div class="view mblView">
	<script type="dojo/require">at: "dojox/mvc/at"</script>
	<div id="datewrapper">
	<div data-dojo-type="dojox/app/widgets/Container" region="center" data-dojo-props="scrollable: true">
		<h2 data-dojo-type="dojox/mobile/RoundRectCategory" region="top">All items by date</h2>
		<ul data-dojo-type="dojox/mobile/RoundRectList" id="itemsDate_list"
			data-dojo-mixins="dojox/mvc/Repeat" 
			data-dojo-props="exprchar:'#', children: at(this.loadedModels.itemlistmodel, 'model')">
				<li data-dojo-type="dojox/mobile/ListItem" class="mblVariableHeight"
					data-dojo-props="clickable: true, onClick: function(){todoApp.showItemDetails('#{this.index}');},
					transitionOptions: {title:'Detail', target:'details,EditTodoItem',url: '#details,EditTodoItem'}">
						<div preventTouch="true" class="lineItemPreventTouch"></div>
						<input preventTouch="true" type="checkbox"
								data-dojo-type="dojox/mobile/CheckBox"
							data-dojo-props="checked: at('rel:#{this.index}','completed')"/>
						<div data-dojo-type="dojox/mvc/Output" style="display: inline"
							data-dojo-props="value: at('rel:#{this.index}','title')"></div>
								<div data-dojo-type="dojox/mvc/Output" class="dateLabel"
									data-dojo-props="value: at('rel:#{this.index}','reminderDate'),
													class: at('rel:#{this.index}','reminderDate').direction(at.from).transform(dateListClassTransform)"></div>
				</li>
		</ul>	
	</div>
	</div>
</div>
