<div class="view mblView">
	<h1 dojoType="dojox.mobile.Heading" region="top" back="Back">Details</h1>
	<div dojoType="dojox.app.container" id="details" scrollable="true">
		<div dojoType="dojox.mobile.RoundRect">
			Dry clean my suits
		</div>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" clickable="true">
				Remind Me
			</li>
			<li dojoType="dojox.mobile.ListItem" clickable="true">
				Repeat
			</li>
		</ul>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" clickable="true">
				Show More...
			</li>
		</ul>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" clickable="true">
				Delete
			</li>
		</ul>
		<h1 dojoType="dojox.mobile.Heading">footer</h1>
	</div>	
</div>
