<div class="view mblView">
	<h1 dojoType="dojox.mobile.Heading" region="top" back="Back">Details</h1>
	<div dojoType="dojox.app.container" id="details" scrollable="true">
		<ul dojoType="dojox.mobile.RoundRectList">
			<div class="fieldset" id="item_detailsGroup" dojoType="dojox.mvc.Group" data-dojo-props="exprchar:'#', ref:'itemlistmodel.0'">
				<!-- TODO: use dojox.mvc.Output to display value
				<span data-dojo-type="dojox.mvc.Output" data-dojo-props="exprchar:'#', ref: 'title'">Title: #{this.value}</span>
				<br/>
				<span data-dojo-type="dojox.mvc.Output" data-dojo-props="exprchar:'#', ref: 'notes'">Notes: #{this.value}</span>
				<br/>
				<span data-dojo-type="dojox.mvc.Output" data-dojo-props="exprchar:'#', ref: 'priority'">Priority: #{this.value}</span>
				-->
				<table>
					<tr>
						<td>Title: </td>
						<td>
							<input disabled="true" type=text dojoType="dojox.mobile.TextBox" placeholder="title" ref="'rel:title'"></input>
						</td>
					</tr>
					<tr>
						<td>Notes: </td>
						<td>
							<input disabled="true" type=text dojoType="dojox.mobile.TextBox" placeholder="notes" ref="'rel:notes'"></input>
						</td>
					</tr>
					<tr>
						<td>Priority: </td>
						<td>
							<input disabled="true" type=text dojoType="dojox.mobile.TextBox" placeholder="0" ref="'rel:priority'"></input>
						</td>
					</tr>
				</table>
			</div>
		</ul>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" clickable="true">
				Remind Me
			</li>
			<li dojoType="dojox.mobile.ListItem" clickable="true">
				Repeat
			</li>
		</ul>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" clickable="true">
				Show More...
			</li>
		</ul>
		<ul dojoType="dojox.mobile.RoundRectList">
			<li dojoType="dojox.mobile.ListItem" clickable="true">
				Delete
			</li>
		</ul>
	</div>
</div>
