<div style="background:#c5ccd3;" class="view mblView">
	<h1 dojoType="dojox.mobile.Heading" align="center" region="top">
		<table cellpadding="0" cellspacing="0" style="width:100%;">
			<tr>
				<td style="width: 62px;">
					<!-- TODO: seems scene not load the default view
					<div dojoType="dojox.mobile.ToolBarButton" transitionOptions='{title:"Configure",target:"configuration",url: "#configuration"}'>
						Lists
					</div>
					-->
					<div dojoType="dojox.mobile.ToolBarButton" transitionOptions='{title:"Configure",target:"configuration,configure",url: "#configuration,configure"}'>
						Lists
					</div>
				</td>
				<td align="center">
					<ul region="top" dojoType="dojox.mobile.TabBar" barType="segmentedControl">
						<li dojoType="dojox.mobile.TabBarButton" transitionOptions='{title:"List",target:"items,list",url: "#items,list"}' selected="true">
							List
						</li>
						<li dojoType="dojox.mobile.TabBarButton" transitionOptions='{title:"Date",target:"items,date",url: "#items,date"}'>
							Date
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</h1>
</div>
