<div style="background:#c5ccd3;" class="view mblView">
	<h1 dojoType="dojox.mobile.Heading" label="Remind Me" back="Cancel">
		<div dojoType="dojox.mobile.ToolBarButton" label="Done" style="float:right;">
		</div>
	</h1>
	<ul data-dojo-type="dojox.mobile.RoundRectList">
		<li data-dojo-type="dojox.mobile.ListItem">
			On a Day
			<div class="mblItemSwitch" data-dojo-type="dojox.mobile.Switch">
			</div>
		</li>
		<li data-dojo-type="dojox.mobile.ListItem" clickable="true">
			Monday,
		</li>
	</ul>
	<ul data-dojo-type="dojox.mobile.RoundRectList">
		<li data-dojo-type="dojox.mobile.ListItem">
			At a Location
			<div class="mblItemSwitch" data-dojo-type="dojox.mobile.Switch">
			</div>
		</li>
	</ul>
</div>
