<div>
	<div data-dojo-type="dojox.mobile.Heading" region="top">
		<table cellpadding="0" cellspacing="0" style="width:100%;">
			<tr>
				<td>
					<span id="gotoConfigurationView" data-dojo-type="dojox.mobile.ToolBarButton" transitionOptions='{title:"Configure",target:"configuration,configure",url: "#configuration,configure"}'>
						Lists
					</span>
				</td>
				<td align="center">
					<div data-dojo-type="dojox.mobile.TabBar" data-dojo-props='barType:"segmentedControl"' style="margin:auto;">
						<div style="width:80px" data-dojo-type="dojox.mobile.TabBarButton" transitionOptions='{title:"List",target:"items,list",url: "#items,list"}' selected="true">
							List
						</div>
						<div style="width:80px" data-dojo-type="dojox.mobile.TabBarButton" transitionOptions='{title:"Date",target:"items,date",url: "#items,date"}'>
							Date
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
