<div class="view mblView">
	<h1 data-dojo-type="dojox.mobile.Heading" label="Add List" region="top">
		<div id="addList_add" data-dojo-type="dojox.mobile.ToolBarButton" data-dojo-props='arrow: "left", label:"Back"' style="float:left;">
		</div>
	</h1>
	<div data-dojo-type="dojox.app.widgets.Container" region="center" scrollable="true">
		<div  class="itemcellwrapper">
			<input id="titleInput" data-dojo-type="dojox.mobile.TextBox" class="itemcell" placeholder="Title"/>
		</div>
		<div  class="itemcellwrapper">
			<textarea id="desInput" data-dojo-type="dojox.mobile.ExpandingTextArea"  class="itemcell" placeholder="Description"></textarea>
		</div>
	</div>
</div>
