<div class="view mblView">
	<h1 data-dojo-type="dojox.mobile.Heading" label="Add List" region="top" back="Cancel">
		<div id="addList_done" data-dojo-type="dojox.mobile.ToolBarButton" label="Done" style="float:right;" transitionOptions='{title:"Configuration Edit",target:"configuration,edit",url: "#configuration,edit"}'>
		</div>
	</h1>
	<div data-dojo-type="dojox.app.widgets.Container" region="center" scrollable="true">
		<div  class="itemcellwrapper">
			<input id="titleInput" data-dojo-type="dojox.mobile.TextBox" class="itemcell" placeholder="Title"/>
		</div>
		<div  class="itemcellwrapper">
			<textarea id="desInput" data-dojo-type="dojox.mobile.ExpandingTextArea"  class="itemcell" placeholder="Description"></textarea>
		</div>
	</div>
</div>
