<div class="view mblView">
	<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props="label: 'Add List'" data-app-constraint="top">
		<div id="addList_add" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="arrow: 'left', label: 'Back'" style="float: left">
		</div>
	</h1>
	<div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center" data-dojo-props="scrollable: true">
		<div  class="itemcellwrapper">
			<textarea id="titleInput" data-dojo-type="dojox/mobile/ExpandingTextArea" class="itemcell" placeholder="Title"></textarea>
		</div>
		<div  class="itemcellwrapper">
			<textarea id="desInput" data-dojo-type="dojox/mobile/ExpandingTextArea" class="itemcell" placeholder="Description"></textarea>
		</div>
	</div>
</div>
